# API Configuration
EXPO_PUBLIC_API_BASE_URL=http://cg4kg8o4gko8k0sskowcgww8.72.60.29.89.sslip.io/api
EXPO_PUBLIC_AI_BASE_URL=http://hg4c0wgoogwgwsk4gc8wwk00.72.60.29.89.sslip.io

# Google OAuth (for social login)
# EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-google-client-id
# EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-android-oauth-client-id
# EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-ios-oauth-client-id
